.academic{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37); 
    transition: 1s;
}
.academic:hover{
    background-color: rgb(232, 240, 247);

}
.academic__title{
    transition: 1.5s;
}
.academic__courses{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    
}

.academic__courses__box {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: #F8FBFE;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: 2s;

}

.academic__courses__item__img {
  width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    transition: 2s;
}

.academic__courses__item__title{
    color: #173e4e;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.academic__courses__item__subtitle{
    color: #173e4e;
    text-align: center;
}
.academic__courses__box:hover{
   
    transform: scale(1.1);
}


.academic__courses__item__img:hover {
    transform: scale(1.1);
}