.headerPrincipal-nav-link {
	padding: 10px;
    border-radius: 8%;
	color: rgb(205, 225, 235);
	background-color: #3c6577;
	text-decoration:none;
	transition: .5s;
	display: block;
	border-bottom: 1px solid #9799A6;
}
.nombreTitulo{
    font-size: 30px;
    color: #3c6577;
    font-weight: bold;
}
.headerPrincipal-nav-link:hover{
    transform: scale(1.1);
}